[submodule "dyn-images"]
	path = dyn-images
	url = https://github.com/fable-community/dyn-images
[submodule "images-proxy"]
	path = images-proxy
	url = https://github.com/fable-community/images-proxy
	branch = lib
