[submodule "dyn-images"]
	path = dyn-images
	url = https://github.com/fable-community/dyn-images
	branch = main
[submodule "images-proxy"]
	path = images-proxy
	url = https://github.com/fable-community/images-proxy
	branch = main
[submodule "search-index"]
	path = search-index
	url = https://github.com/fable-community/search-index
	branch = main
