name: search

on:
  workflow_dispatch:
  schedule:
    # Once a month "At 00:00 on day-of-month 2" (see https://crontab.guru/once-a-month)
    - cron: "0 0 2 * *"

jobs:
  index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - run: deno run -A --unstable-kv search-index/index.ts

      - uses: actions/upload-artifact@v4
        with:
          name: search-indexes
          path: search-index/*_index.bin

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.PAT }}
          title: "[bot] Updated Search Indexes"
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          commit-message: "[bot] Updated `search-index/*.bin`"
          branch: update-search-index
          delete-branch: true
          body: |

            > [!NOTE]
            > This PR is auto-generated every Sunday!
